.advantages{
  h2 {
    @include font(36px, $textHeaderPrimary, 400, $font-regular);
    margin: 50px;
    text-align: center;
    line-height: 0;
    background-color: $textSecondary;

  }

}
.article{
  h1{
    @include font (36px, $textHeaderPrimary, 900, $font-bold);
    text-align: center;
    margin-left: 20px;
  }
}
.padding{
  padding: 30px 0;
}
.article-body {
  p {
    @include font (14px, $textHeaderPrimary, 400, $font-light);
    column-count: 2;
    column-gap: 35px;
    text-align: justify;
  }
}
.article {
  h2 {
    @include font (36px, $textHeaderPrimary, 900, $font-bold);
    text-align: center;
  }
}
.Read-more{
  background: url("/img/arrow-img.png") no-repeat 5px ;
  display: inline-block;
  border: 1px solid $textSecondary;
  background-color: $bgColorPrimaryDark;
  @include font(18px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  padding: 30px 30px 25px 47px;
  line-height: 0;
  text-align: center;
  background-position: 30px;
  margin: 50px;
  margin-left: 30%;
  &:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: $secondaryColor;

  }
}

.section-title {
  @include font (36px, $textSecondary, 700, $font-regular);
  text-align: center;
  display: inline-block;
  padding-left: 40%;
}

.vector-object{
  background: url("/img/vector-object.png") no-repeat 100%;
}



.text-block{
  column-count: 2;
  column-gap: 35px;
  text-align: justify;
}
.hiw-text-two{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #cccccc;
  background-color: #e84c3d;
  text-align: center;
  margin-top: 61px;
  &:after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #333333;
    background-color: $bgColorYelow;
    border-radius: 50%;
    position: relative;
    bottom: 117px;
    left:-3px;
  }
  &:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 63px;
    background-color: $itemColor1;
    margin-bottom: 0px;
    position: relative;
    right: -6px;
    bottom: 63px;
  }
}
.HiW-block{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #cccccc;
  background-color: #e84c3d;
  text-align: center;
  &:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 63px;
    background-color: $itemColor1;
    margin-top: 68px;
    position: relative;
    left: 2px;
    bottom:1px;
  }
  &:after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #333333;
    background-color: #14a85c;
    border-radius: 50%;
    position: relative;
    top: 13px;
    left: 2px;
    margin-left: -7px;
  }
}
.HiW-text{
  @include font(16px, $bgColorFooter - #111, 400, $font-regular);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 10px;
}

.border-bottom{

  border-bottom: 1px dashed $itemColor1;

  h2
  {@include font (36px, $textSecondary, 700, $font-regular);
    text-align: center

  }

}
.HiW-block-center{
  text-align: center;


}
.HiW-block-right{
  text-align: right;
  .round-green{
    margin: -6px 184px -7px;
  }
}


.btn-one-six {
  display: inline-block
}


.social-margin{margin: 0;}
.ico{background-repeat: no-repeat;
  width: 24px;
  height: 38px;
  display: inline-block;
  position: relative;
  padding: 18px;
}

.icon1 {
  background-image: url(/img/icons/ad-icon.png);
}

.icon2 {
  background-image: url(/img/icons/ad-icon2.png);
}

.icon3 {
  background-image: url(/img/icons/ad-icon3.png);
}

.icon4 {
  background-image: url(/img/icons/ad-icon4.png);
}

.icon5 {
  background-image: url(/img/icons/ad-icon5.png);
}

.icon6 {
  background-image: url(/img/icons/ad-icon6.png);
}

.advantage-bg{
  text-align: center;
  width: 100%;
  color: #4e4e4e;
}

.icon-bg{
  padding: 34px 0;
}