.live-chat{
  background: url("/img/live-chat-img.png") no-repeat 5px 50%;
  display: inline-block;
  border: 1px solid $textSecondary;
  background-color: $bgColorPrimaryDark;
  @include font(18px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  padding: 25px 15px 25px 70px;
  line-height: 0;
  &:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: $secondaryColor;
  }
}
.order-now{
  display: inline block;
  border: 1px solid $textSecondary;
  background-color: $secondaryColor;
  @include font (18px, $textSecondary, 400, $font-bold);
  text-transform: uppercase;
  padding: 28px 73px 28px 73px;
  line-height: 0;
  border-radius: 3px;
  &:hover {
    text-decoration: none;
    color: $textSecondary;
    backgroud-color: $bgColorPrimaryDark;
  }
}
.List-of-discounts{
  display: inline-block;
  border: 1px solid $textSecondary;
  background-color: $bgColorPrimaryDark;
  @include font(16px, $textSecondary, 400, $font-light);
  text-transform: uppercase;
  padding: 9px 36px 10px 40px;
  margin: 12px;
  line-height: 1;
  border-radius: 3px;
  position: absolute;

  &:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: $secondaryColor;
  }
}
.advantage-item {
  background: url("/img/ad-icon.png") no-repeat 5px 50%;
  display: inline-block;
  border: 1px solid $textSecondary;
  background-color: $bgColorPrimaryLight;
  @include font(14px, $textSecondary, 400, $font-light);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7px;
  margin: 15px;
  width: 100%;
  height: 160px;
  line-height: 0;

  &:hover {
    text-decoration: none;
    color: $textSecondary;
    background-color: $secondaryColor;

  }
  .light.png {
    text-align: center;
  }
}


.btn-one-six{
  display:inline-block;
  text-align: center;
}

.home-button {
  top: 57px;
  left: 200px;
  position: absolute;
  display: inline-block;
  border: 1px solid $bgColorPrimaryDark;
  background-color: $textSecondary;
  @include font (18px, $bgColorPrimaryDark, 400, $font-semi-bold);
  text-transform: uppercase;
  padding: 18px 55px 18px 55px;
  line-height: 0;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color:  $secondaryColor;
    backgroud-color: $secondaryColor;
  }
}