/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-HiW-1 {
  background-image: url(/img/sprite.png);
  background-position: 0px -2630px;
  width: 21px;
  height: 31px;
  display: inline-block;
}
.icon-HiW-2 {
  background-image: url(/img/sprite.png);
  background-position: 0px -8505px;
  width: 26px;
  height: 38px;
  display: inline-block;
}
.icon-HiW-3 {
  background-image: url(/img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 20px;
}
.icon-HiW-4 {
  background-image: url(/img/sprite.png);
  background-position: 0px -520px;
  width: 24px;
  height: 24px;
}
.icon-HiW-5 {
  background-image: url(/img/sprite.png);
  background-position: 0px -1571px;
  width: 29px;
  height: 29px;
}
.icon-ad-icon-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -5827px;
  width: 22px;
  height: 34px;
}
.icon-ad-icon {
  background-image: url(/img/sprite.png);
  background-position: 0px -4759px;
  width: 22px;
  height: 34px;
}
.icon-ad-icon2-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -4225px;
  width: 33px;
  height: 34px;
}
.icon-ad-icon2 {
  background-image: url(/img/sprite.png);
  background-position: 0px -5293px;
  width: 33px;
  height: 34px;
}
.icon-ad-icon3-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -9583px;
  width: 24px;
  height: 40px;
}
.icon-ad-icon3 {
  background-image: url(/img/sprite.png);
  background-position: 0px -9043px;
  width: 24px;
  height: 40px;
}
.icon-ad-icon4-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -3161px;
  width: 26px;
  height: 32px;
}
.icon-ad-icon4 {
  background-image: url(/img/sprite.png);
  background-position: 0px -3693px;
  width: 26px;
  height: 32px;
}
.icon-ad-icon5-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -6361px;
  width: 33px;
  height: 35px;
}
.icon-ad-icon5 {
  background-image: url(/img/sprite.png);
  background-position: 0px -6896px;
  width: 33px;
  height: 35px;
}
.icon-ad-icon6-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -7968px;
  width: 38px;
  height: 37px;
}
.icon-ad-icon6 {
  background-image: url(/img/sprite.png);
  background-position: 0px -7431px;
  width: 38px;
  height: 37px;
}
.icon-call {
  background-image: url(/img/sprite.png);
  background-position: 0px -2100px;
  width: 36px;
  height: 30px;
  display: inline-block;
}
.icon-toll {
  background-image: url(/img/sprite.png);
  background-position: 0px -1044px;
  width: 35px;
  height: 27px;
  display: inline-block;
}

